:root {
  --yi-translate-main-text: #0c0c0d;
  --yi-translate-sub-text: #737373;
  --yi-translate-line: #ededf0;
  --yi-translate-button: #d7d7db;
  --yi-translate-highlight: #5595ff;
  --yi-translate-main-bg: #ffffff;
}

#yi-translate {
  all: initial;
  & > div {
    all: initial;
  }
}
