#yi-translate {
  .yi-translate-button {
    all: initial;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(119, 25, 170, 0.56);
    border: solid 2px var(--onenote-normal);
    border-radius: 15%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    position: fixed;
    z-index: 2147483647;
    cursor: pointer;

    transition-property: opacity, visibility;
    transition-duration: 200ms;
    opacity: 0;
    visibility: hidden;
    &.isShow {
      opacity: 1;
      visibility: visible;
      transition-duration: 0ms;
      animation: yi-translate-showButton 200ms;
    }
  }

  @keyframes yi-translate-showButton {
    0% {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
